In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime       #To access datetime
from pandas import Series           #To work on series
import warnings                     #To ignote the warnings
warnings.filterwarnings("ignore")

In [2]:
train = pd.read_csv("Train_SU63ISt.csv")
test  = pd.read_csv("Test_0qrQsBZ.csv")

In [3]:
# Realizo una copia de los datos de entrenamiento y prueba para que,
# si realizo cambios en este conjunto de datos, no pierda
# el conjunto de datos original

train_original = train.copy()
test_original  = test.copy()

In [5]:
train.columns

Index(['ID', 'Datetime', 'Count'], dtype='object')

In [6]:
print(test.columns)

Index(['ID', 'Datetime'], dtype='object')

In [14]:
train.head(4)

   ID          Datetime  Count
0   0  25-08-2012 00:00      8
1   1  25-08-2012 01:00      2
2   2  25-08-2012 02:00      6
3   3  25-08-2012 03:00      2

In [15]:
test.head(4)

      ID          Datetime
0  18288  26-09-2014 00:00
1  18289  26-09-2014 01:00
2  18290  26-09-2014 02:00
3  18291  26-09-2014 03:00

El archivo de entrenamiento  tiene Id, Datetime y Count, mientras que el de prueba Ãºnicamente tiene ID y Datetime, es decir, **se tiene que predecir el recuento de pasajareros para el archivo prueba**

In [17]:
train.dtypes

ID           int64
Datetime    object
Count        int64
dtype: object

In [19]:
test.dtypes

ID           int64
Datetime    object
dtype: object

In [20]:
train.shape

(18288, 3)

In [21]:
test.shape

(5112, 2)